.footer {
  display: block;
  justify-content: space-between;
  height: 316px;
  gap: 64px;
  background-color: #000000; 
  border: 2px solid #000000;
}




.footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 100px;
  height: 20px;
  margin-top: 0px;
  margin-left: 100px;
}

.footerLink {
  color: #808080; /* Grey color */
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.footerLink:hover {
  text-decoration: underline;
}
